*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: green;
}
.pink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: pink;
}
.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
}
